/*Organization alphabetically by
ELEMENT
CLASS
ID*/

/***********ELEMENTS***********/


body {
  font-family: 'Do Hyeon', sans-serif;
  font-size: 1.2em;
  background: linear-gradient(#4abdac, #daf1ee);
  min-height: 100%;
}

button {
  width: 200px;
  height: 40px;
  margin: 10px 10px;
  padding: 5px 10px;
  text-align: center;
  font-weight: 600;
}

div {
  margin: 30px;
  text-align: center;
}

footer {
  margin: 100px 30px 0px 30px;
  padding: 15px;
  font-size: .7em;
  text-align: center;
  background-color: #ca6e7b;
  border-top: 1px solid black;
}

h1  {
  margin: 5px 30px 0 30px;
  padding: 0 20px 0 20px;
  text-align: center;
  font-family: 'Russo One', sans-serif;
  font-size: 2em;
  letter-spacing: 2px;
}

html {
  min-height: 100%;
}

img {
  margin: 10px 0 40px 0;
  border: 4px white solid;
  box-shadow: 10px 10px 5px grey;
}

input {
  margin: 10px 10px;
  padding: 5px 10px;
}

input:focus {
    border-color: #fd9275;
}

p {
  padding: 2px;
}


/***********CLASSES***********/

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.crossbar {
  position: relative;
  top: 50px;
  background-color: #bd4a5b;
  height: 70px;
  box-shadow: 10px 10px 5px grey;
  border-radius: 10px;
}

/***********IDs***********/

#addAnimal {
  margin: 0px 10px;
  color: black;
}

#formDiv {
  min-width: 250px;
}

#slideshow { 
    margin: auto; 
    width: 500px; 
    height: 150px; 
    padding: 10px; 
}

#slideshow > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    z-index: 1;
}
